Repository FuelLabs/sway-libs, pull requests merged in 2022-11, with the labels that each got.

#49 Update CI and Cargo.toml
  .github/workflows/ci.yml
  tests/src/Cargo.toml
Labels: bug

#42 NFT Library
  .github/workflows/ci.yml
  README.md
  sway_libs/src/lib.sw
  sway_libs/src/nft/README.md
  sway_libs/src/nft/SPECIFICATION.md
  sway_libs/src/nft/errors.sw
  sway_libs/src/nft/events.sw
  sway_libs/src/nft/extensions/administrator/administrator.sw
  sway_libs/src/nft/extensions/administrator/administrator_errors.sw
  sway_libs/src/nft/extensions/administrator/administrator_events.sw
  sway_libs/src/nft/extensions/burnable/burnable.sw
  sway_libs/src/nft/extensions/burnable/burnable_events.sw
  sway_libs/src/nft/extensions/meta_data/meta_data.sw
  sway_libs/src/nft/extensions/meta_data/meta_data_structures.sw
  sway_libs/src/nft/extensions/supply/supply.sw
  sway_libs/src/nft/extensions/supply/supply_errors.sw
  sway_libs/src/nft/extensions/supply/supply_events.sw
  sway_libs/src/nft/nft.sw
  sway_libs/src/nft/nft_core.sw
  sway_libs/src/nft/nft_storage.sw
  tests/src/test_projects/harness.rs
  tests/src/test_projects/nft_core/.gitignore
  tests/src/test_projects/nft_core/Forc.toml
  tests/src/test_projects/nft_core/mod.rs
  tests/src/test_projects/nft_core/src/main.sw
  tests/src/test_projects/nft_core/tests/functions/approve.rs
  tests/src/test_projects/nft_core/tests/functions/approved.rs
  tests/src/test_projects/nft_core/tests/functions/balance_of.rs
  tests/src/test_projects/nft_core/tests/functions/is_approved_for_all.rs
  tests/src/test_projects/nft_core/tests/functions/mint.rs
  tests/src/test_projects/nft_core/tests/functions/mod.rs
  tests/src/test_projects/nft_core/tests/functions/owner_of.rs
  tests/src/test_projects/nft_core/tests/functions/set_approval_for_all.rs
  tests/src/test_projects/nft_core/tests/functions/tokens_minted.rs
  tests/src/test_projects/nft_core/tests/functions/transfer.rs
  tests/src/test_projects/nft_core/tests/mod.rs
  tests/src/test_projects/nft_core/tests/utils/mod.rs
  tests/src/test_projects/nft_extensions/.gitignore
  tests/src/test_projects/nft_extensions/Forc.toml
  tests/src/test_projects/nft_extensions/mod.rs
  tests/src/test_projects/nft_extensions/src/main.sw
  tests/src/test_projects/nft_extensions/tests/functions/admin.rs
  tests/src/test_projects/nft_extensions/tests/functions/burn.rs
  tests/src/test_projects/nft_extensions/tests/functions/max_supply.rs
  tests/src/test_projects/nft_extensions/tests/functions/meta_data.rs
  tests/src/test_projects/nft_extensions/tests/functions/mod.rs
  tests/src/test_projects/nft_extensions/tests/functions/set_admin.rs
  tests/src/test_projects/nft_extensions/tests/functions/set_max_supply.rs
  tests/src/test_projects/nft_extensions/tests/functions/set_meta_data.rs
  tests/src/test_projects/nft_extensions/tests/mod.rs
  tests/src/test_projects/nft_extensions/tests/utils/mod.rs
Labels: New Feature, NFT

#51 Add generic to meta_data and set_meta_data
  README.md
  sway_libs/src/nft/README.md
  sway_libs/src/nft/extensions/meta_data/meta_data.sw
Labels: Bug, Lib: NFT

#30 Signed integers
  README.md
  sway_libs/src/lib.sw
  sway_libs/src/signed_integers/README.md
  sway_libs/src/signed_integers/SPECIFICATION.md
  sway_libs/src/signed_integers/errors.sw
  sway_libs/src/signed_integers/i128.sw
  sway_libs/src/signed_integers/i16.sw
  sway_libs/src/signed_integers/i256.sw
  sway_libs/src/signed_integers/i32.sw
  sway_libs/src/signed_integers/i64.sw
  sway_libs/src/signed_integers/i8.sw
  sway_libs/src/signed_integers/signed_integers.sw
  tests/src/test_projects/harness.rs
  tests/src/test_projects/signed_i128/.gitignore
  tests/src/test_projects/signed_i128/Forc.toml
  tests/src/test_projects/signed_i128/mod.rs
  tests/src/test_projects/signed_i128/src/main.sw
  tests/src/test_projects/signed_i128/tests/mod.rs
  tests/src/test_projects/signed_i16/.gitignore
  tests/src/test_projects/signed_i16/Forc.toml
  tests/src/test_projects/signed_i16/mod.rs
  tests/src/test_projects/signed_i16/src/main.sw
  tests/src/test_projects/signed_i16/tests/mod.rs
  tests/src/test_projects/signed_i256/.gitignore
  tests/src/test_projects/signed_i256/Forc.toml
  tests/src/test_projects/signed_i256/mod.rs
  tests/src/test_projects/signed_i256/src/main.sw
  tests/src/test_projects/signed_i256/tests/mod.rs
  tests/src/test_projects/signed_i32/.gitignore
  tests/src/test_projects/signed_i32/Forc.toml
  tests/src/test_projects/signed_i32/mod.rs
  tests/src/test_projects/signed_i32/src/main.sw
  tests/src/test_projects/signed_i32/tests/mod.rs
  tests/src/test_projects/signed_i64/.gitignore
  tests/src/test_projects/signed_i64/Forc.toml
  tests/src/test_projects/signed_i64/mod.rs
  tests/src/test_projects/signed_i64/src/main.sw
  tests/src/test_projects/signed_i64/tests/mod.rs
  tests/src/test_projects/signed_i8/.gitignore
  tests/src/test_projects/signed_i8/Forc.toml
  tests/src/test_projects/signed_i8/mod.rs
  tests/src/test_projects/signed_i8/src/main.sw
  tests/src/test_projects/signed_i8/tests/mod.rs
Labels: New Feature, Lib: Signed Math

#54 Make `approve` function public
  sway_libs/src/nft/nft_core.sw
Labels: Bug, Lib: NFT
