Repository FuelLabs/sway-libs, pull requests merged in 2023-02, with the labels that each got.

#83 migrate reentrancy to new directory structure
  README.md
  libs/Forc.toml
  libs/reentrancy/Forc.toml
  libs/reentrancy/README.md
  libs/reentrancy/SPECIFICATION.md
  libs/reentrancy/src/lib.sw
  tests/Forc.toml
  tests/src/harness.rs
  tests/src/reentrancy/mod.rs
  tests/src/reentrancy/reentrancy_attacker_abi/.gitignore
  tests/src/reentrancy/reentrancy_attacker_abi/Forc.toml
  tests/src/reentrancy/reentrancy_attacker_abi/src/main.sw
  tests/src/reentrancy/reentrancy_attacker_contract/.gitignore
  tests/src/reentrancy/reentrancy_attacker_contract/Forc.toml
  tests/src/reentrancy/reentrancy_attacker_contract/src/main.sw
  tests/src/reentrancy/reentrancy_target_abi/.gitignore
  tests/src/reentrancy/reentrancy_target_abi/Forc.toml
  tests/src/reentrancy/reentrancy_target_abi/src/main.sw
  tests/src/reentrancy/reentrancy_target_contract/.gitignore
  tests/src/reentrancy/reentrancy_target_contract/Forc.toml
  tests/src/reentrancy/reentrancy_target_contract/src/main.sw
Labels: New Feature, Lib: Security

#84 UFP32
  libs/fixed_point/README.md
  libs/fixed_point/src/lib.sw
  libs/fixed_point/src/ufp128.sw
  libs/fixed_point/src/ufp32.sw
  tests/Forc.toml
  tests/src/unsigned_numbers/mod.rs
  tests/src/unsigned_numbers/ufp32_div_test/.gitignore
  tests/src/unsigned_numbers/ufp32_div_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_div_test/mod.rs
  tests/src/unsigned_numbers/ufp32_div_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_div_test/tests/mod.rs
  tests/src/unsigned_numbers/ufp32_exp_test/.gitignore
  tests/src/unsigned_numbers/ufp32_exp_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_exp_test/mod.rs
  tests/src/unsigned_numbers/ufp32_exp_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_exp_test/tests/mod.rs
  tests/src/unsigned_numbers/ufp32_mul_test/.gitignore
  tests/src/unsigned_numbers/ufp32_mul_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_mul_test/mod.rs
  tests/src/unsigned_numbers/ufp32_mul_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_mul_test/tests/mod.rs
  tests/src/unsigned_numbers/ufp32_pow_test/.gitignore
  tests/src/unsigned_numbers/ufp32_pow_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_pow_test/mod.rs
  tests/src/unsigned_numbers/ufp32_pow_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_pow_test/tests/mod.rs
  tests/src/unsigned_numbers/ufp32_root_test/.gitignore
  tests/src/unsigned_numbers/ufp32_root_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_root_test/mod.rs
  tests/src/unsigned_numbers/ufp32_root_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_root_test/tests/mod.rs
  tests/src/unsigned_numbers/ufp32_test/.gitignore
  tests/src/unsigned_numbers/ufp32_test/Forc.toml
  tests/src/unsigned_numbers/ufp32_test/mod.rs
  tests/src/unsigned_numbers/ufp32_test/src/main.sw
  tests/src/unsigned_numbers/ufp32_test/tests/mod.rs
Labels: Enhancement, Lib: Math

#66 Fix signed integer bugs
  libs/signed_integers/src/i128.sw
  libs/signed_integers/src/i16.sw
  libs/signed_integers/src/i256.sw
  libs/signed_integers/src/i32.sw
  libs/signed_integers/src/i64.sw
  libs/signed_integers/src/i8.sw
  tests/src/signed_integers/signed_i256/src/main.sw
Labels: Bug, Lib: Math
