Repository FuelLabs/sway-libs, pull requests merged in 2023-03, with the labels that each got.

#108 Bumped action toolchain to 0.6.0
  .github/workflows/ci.yml
Labels: Repo Misc

#94 Two's complement
  libs/signed_integers/src/common.sw
  libs/signed_integers/src/i128.sw
  libs/signed_integers/src/i16.sw
  libs/signed_integers/src/i256.sw
  libs/signed_integers/src/i32.sw
  libs/signed_integers/src/i64.sw
  libs/signed_integers/src/i8.sw
  libs/signed_integers/src/lib.sw
  tests/Forc.toml
  tests/src/signed_integers/mod.rs
  tests/src/signed_integers/signed_i16_twos_complement/.gitignore
  tests/src/signed_integers/signed_i16_twos_complement/Forc.toml
  tests/src/signed_integers/signed_i16_twos_complement/mod.rs
  tests/src/signed_integers/signed_i16_twos_complement/src/main.sw
  tests/src/signed_integers/signed_i16_twos_complement/tests/mod.rs
  tests/src/signed_integers/signed_i32_twos_complement/.gitignore
  tests/src/signed_integers/signed_i32_twos_complement/Forc.toml
  tests/src/signed_integers/signed_i32_twos_complement/mod.rs
  tests/src/signed_integers/signed_i32_twos_complement/src/main.sw
  tests/src/signed_integers/signed_i32_twos_complement/tests/mod.rs
  tests/src/signed_integers/signed_i64_twos_complement/.gitignore
  tests/src/signed_integers/signed_i64_twos_complement/Forc.toml
  tests/src/signed_integers/signed_i64_twos_complement/mod.rs
  tests/src/signed_integers/signed_i64_twos_complement/src/main.sw
  tests/src/signed_integers/signed_i64_twos_complement/tests/mod.rs
  tests/src/signed_integers/signed_i8_twos_complement/.gitignore
  tests/src/signed_integers/signed_i8_twos_complement/Forc.toml
  tests/src/signed_integers/signed_i8_twos_complement/mod.rs
  tests/src/signed_integers/signed_i8_twos_complement/src/main.sw
  tests/src/signed_integers/signed_i8_twos_complement/tests/mod.rs
Labels: Enhancement, Lib: Math

#109 Update and add banners for libraries
  .docs/sway-libs-logo-dark-theme.png
  .docs/sway-libs-logo-light-theme.png
  .docs/sway_libraries_black.png
  .docs/sway_libraries_white.png
  README.md
  libs/fixed_point/.docs/fixedpoint-logo-dark-theme.png
  libs/fixed_point/.docs/fixedpoint-logo-light-theme.png
  libs/fixed_point/README.md
  libs/merkle_proof/.docs/merkle-logo-dark-theme.png
  libs/merkle_proof/.docs/merkle-logo-light-theme.png
  libs/merkle_proof/README.md
  libs/nft/.docs/NFT-logo-dark-theme.png
  libs/nft/.docs/NFT-logo-light-theme.png
  libs/nft/README.md
  libs/ownership/.docs/ownership-logo-dark-theme.png
  libs/ownership/.docs/ownership-logo-light-theme.png
  libs/ownership/README.md
  libs/reentrancy/.docs/reentrancy-logo-dark-theme.png
  libs/reentrancy/.docs/reentrancy-logo-light-theme.png
  libs/reentrancy/README.md
  libs/signed_integers/.docs/signedints-logo-dark-theme.png
  libs/signed_integers/.docs/signedints-logo-light-theme.png
  libs/signed_integers/README.md
  libs/storagemapvec/.docs/storagemapvec-logo-dark-theme.png
  libs/storagemapvec/.docs/storagemapvec-logo-light-theme.png
  libs/storagemapvec/README.md
  libs/string/.docs/string-logo-dark-theme.png
  libs/string/.docs/string-logo-light-theme.png
  libs/string/README.md
Labels: Improvement, Repo Misc

#115 Add fungible token abi
  libs/frc20_abi/.gitignore
  libs/frc20_abi/Forc.toml
  libs/frc20_abi/src/lib.sw
Labels: Enhancement

#122 Add Storage Read and Writes for StorageVecMap
  libs/storagemapvec/src/lib.sw
Labels: Documentation, Lib: Storage

#121 Add inline docs for Ownership library
  libs/ownership/src/ownable.sw
Labels: Documentation, Lib: Access

#124 Add Storage Read and Writes for NFT
  libs/nft/src/extensions/administrator/administrator.sw
  libs/nft/src/extensions/burnable/burnable.sw
  libs/nft/src/extensions/supply/supply.sw
  libs/nft/src/extensions/token_metadata/token_metadata.sw
  libs/nft/src/lib.sw
  libs/nft/src/nft_core.sw
Labels: Documentation, Lib: NFT

#105 IFP128
  libs/fixed_point/README.md
  libs/fixed_point/src/ifp128.sw
  libs/fixed_point/src/lib.sw
  tests/Forc.toml
  tests/src/unsigned_numbers/ifp128_div_test/.gitignore
  tests/src/unsigned_numbers/ifp128_div_test/Forc.toml
  tests/src/unsigned_numbers/ifp128_div_test/mod.rs
  tests/src/unsigned_numbers/ifp128_div_test/src/main.sw
  tests/src/unsigned_numbers/ifp128_div_test/tests/mod.rs
  tests/src/unsigned_numbers/ifp128_test/.gitignore
  tests/src/unsigned_numbers/ifp128_test/Forc.toml
  tests/src/unsigned_numbers/ifp128_test/mod.rs
  tests/src/unsigned_numbers/ifp128_test/src/main.sw
  tests/src/unsigned_numbers/ifp128_test/tests/mod.rs
  tests/src/unsigned_numbers/mod.rs
Labels: Enhancement, Lib: Math
