Repository FuelLabs/sway-libs, pull requests merged in 2023-04, with the labels that each got.

#116 Adding a non-fungible token standard
  .github/workflows/ci.yml
  README.md
  standards/Forc.toml
  standards/frc20/.gitignore
  standards/frc20/Forc.toml
  standards/frc20/src/lib.sw
  standards/frc721/.docs/frc-721-logo-dark-theme.png
  standards/frc721/.docs/frc-721-logo-light-theme.png
  standards/frc721/.gitignore
  standards/frc721/Forc.toml
  standards/frc721/README.md
  standards/frc721/src/extensions/frc721_metadata.sw
  standards/frc721/src/frc_721.sw
  standards/frc721/src/lib.sw
Labels: Documentation, New Feature, Standards: FRC-721

#107 IFP256
  libs/fixed_point/README.md
  libs/fixed_point/src/ifp256.sw
  libs/fixed_point/src/lib.sw
  tests/Forc.toml
  tests/src/unsigned_numbers/ifp256_div_test/.gitignore
  tests/src/unsigned_numbers/ifp256_div_test/Forc.toml
  tests/src/unsigned_numbers/ifp256_div_test/mod.rs
  tests/src/unsigned_numbers/ifp256_div_test/src/main.sw
  tests/src/unsigned_numbers/ifp256_div_test/tests/mod.rs
  tests/src/unsigned_numbers/ifp256_test/.gitignore
  tests/src/unsigned_numbers/ifp256_test/Forc.toml
  tests/src/unsigned_numbers/ifp256_test/mod.rs
  tests/src/unsigned_numbers/ifp256_test/src/main.sw
  tests/src/unsigned_numbers/ifp256_test/tests/mod.rs
  tests/src/unsigned_numbers/mod.rs
Labels: Enhancement, Lib: Math

#129 Update alt tag in README
  README.md
Labels: Documentation

#132 Reimplement `append()` for `String` type
  libs/string/src/lib.sw
  tests/src/string/src/main.sw
Labels: Improvement, Lib: Strings

#139 Update to fuels-rs v0.41.0
  README.md
  tests/Cargo.toml
  tests/Forc.toml
  tests/src/merkle_proof/tests/utils/mod.rs
  tests/src/nft/nft_core/tests/utils/mod.rs
  tests/src/nft/nft_extensions/tests/utils/mod.rs
  tests/src/ownership/tests/utils/mod.rs
  tests/src/reentrancy/mod.rs
  tests/src/storagemapvec/tests/utils.rs
  tests/src/string/tests/utils/mod.rs
Labels: Improvement, Repo Misc

#136 Unit test CI step
  .github/workflows/ci.yml
Labels: Improvement, Repo Misc

#130 Update Codeowners
  .github/CODEOWNERS
Labels: Repo Misc

#146 Bump libraries that use storage
  README.md
  libs/nft/src/extensions/administrator.sw
  libs/nft/src/extensions/burnable.sw
  libs/nft/src/extensions/supply.sw
  libs/nft/src/extensions/token_metadata.sw
  libs/nft/src/lib.sw
  libs/nft/src/nft_core.sw
  libs/ownership/src/ownable.sw
  libs/ownership/src/ownable_storage.sw
  libs/storagemapvec/README.md
  libs/storagemapvec/SPECIFICATION.md
  libs/storagemapvec/src/lib.sw
  libs/strings/storage_string/src/lib.sw
  libs/strings/string/src/lib.sw
  tests/src/ownership/src/main.sw
  tests/src/ownership/tests/utils/mod.rs
  tests/src/storage_string/src/main.sw
  tests/src/storagemapvec/src/main.sw
  tests/src/string/src/main.sw
Labels: Improvement, Lib: Strings, Lib: NFT, Repo Misc, Lib: Access, Lib: Storage

#143 Bump repository to use `forc 0.38.0`
  .github/workflows/ci.yml
  README.md
  libs/nft/src/extensions/administrator.sw
  libs/nft/src/extensions/burnable.sw
  libs/nft/src/extensions/supply.sw
  libs/nft/src/extensions/token_metadata.sw
  libs/nft/src/lib.sw
  libs/nft/src/nft_core.sw
  libs/ownership/src/ownable.sw
  libs/ownership/src/ownable_storage.sw
  libs/storagemapvec/README.md
  libs/storagemapvec/SPECIFICATION.md
  libs/storagemapvec/src/lib.sw
  libs/strings/storage_string/src/lib.sw
  libs/strings/string/src/lib.sw
  tests/src/ownership/src/main.sw
  tests/src/ownership/tests/utils/mod.rs
  tests/src/storage_string/src/main.sw
  tests/src/storagemapvec/src/main.sw
  tests/src/string/src/main.sw
Labels: Improvement, Repo Misc

#125 Queue
  libs/Forc.toml
  libs/queue/.gitignore
  libs/queue/Forc.toml
  libs/queue/src/main.sw
Labels: New Feature, Libs: Data Structures

#149 Add additional documentation for setting an owner on contract deployment
  libs/ownership/README.md
  libs/ownership/SPECIFICATION.md
  libs/ownership/src/ownable.sw
Labels: Documentation, Lib: Access
