Repository FuelLabs/sway-libs, pull requests merged in 2023-06, with the labels that each got.

#167 Update Merkle Proof library to use new `fuel-merkle` repo
  libs/merkle_proof/README.md
  tests/Cargo.toml
  tests/src/merkle_proof/tests/functions/node_digest.rs
  tests/src/merkle_proof/tests/utils/mod.rs
Labels: Improvement, Lib: Cryptography

#168 Queue Documentation and Specification
  libs/queue/README.md
  libs/queue/SPECIFICATION.md
Labels: Documentation, Libs: Data Structures

#171 Refactor to use `From` trait for `String`
  libs/strings/storage_string/src/lib.sw
  libs/strings/string/SPECIFICATION.md
  libs/strings/string/src/lib.sw
  tests/src/string/src/main.sw
  tests/src/string/tests/functions/from_bytes.rs
  tests/src/string/tests/functions/from_vec.rs
  tests/src/string/tests/functions/into_bytes.rs
  tests/src/string/tests/functions/into_vec.rs
  tests/src/string/tests/functions/mod.rs
  tests/src/string/tests/utils/mod.rs
Labels: Improvement, Lib: Strings, Breaking
