Repository FuelLabs/sway-libs, pull requests merged in 2023-01, with the labels that each got.

#60 Unused variables and private functions used - Fix
  sway_libs/src/nft/nft.sw
  tests/src/test_projects/signed_i128/src/main.sw
  tests/src/test_projects/signed_i16/src/main.sw
  tests/src/test_projects/signed_i256/src/main.sw
  tests/src/test_projects/signed_i32/src/main.sw
  tests/src/test_projects/signed_i64/src/main.sw
  tests/src/test_projects/signed_i8/src/main.sw
Labels: Improvement, Lib: Signed Math

#32 UFP128
  README.md
  sway_libs/src/fixed_point/ufp/README.md
  sway_libs/src/fixed_point/ufp/SPECIFICATION.md
  sway_libs/src/fixed_point/ufp/ufp128.sw
  sway_libs/src/fixed_point/ufp/ufp64.sw
  sway_libs/src/fixed_point/ufp/ufp64/README.md
  sway_libs/src/fixed_point/ufp/ufp64/SPECIFICATION.md
  sway_libs/src/lib.sw
  tests/src/test_projects/ufp128_div_test/.gitignore
  tests/src/test_projects/ufp128_div_test/Forc.toml
  tests/src/test_projects/ufp128_div_test/src/main.sw
  tests/src/test_projects/ufp128_div_test/tests/mod.rs
  tests/src/test_projects/ufp128_test/.gitignore
  tests/src/test_projects/ufp128_test/Forc.toml
  tests/src/test_projects/ufp128_test/src/main.sw
  tests/src/test_projects/ufp128_test/tests/mod.rs
Labels: New Feature, Lib: Unsigned Math

#74 Check rust formatting in the ci
  .github/workflows/ci.yml
  tests/src/nft/nft_core/tests/utils/mod.rs
  tests/src/signed_integers/signed_i8/tests/mod.rs
  tests/src/string/tests/utils/mod.rs
  tests/src/unsigned_numbers/mod.rs
Labels: Enhancement, Repo Misc

#75 Add Contributing book for repo
  .docs/contributing-book/.gitignore
  .docs/contributing-book/README.md
  .docs/contributing-book/book.toml
  .docs/contributing-book/src/SUMMARY.md
  .docs/contributing-book/src/code/.gitignore
  .docs/contributing-book/src/code/Forc.toml
  .docs/contributing-book/src/code/bad_documentation/Forc.toml
  .docs/contributing-book/src/code/bad_documentation/src/lib.sw
  .docs/contributing-book/src/code/connect_four/Forc.toml
  .docs/contributing-book/src/code/connect_four/src/data_structures.sw
  .docs/contributing-book/src/code/connect_four/src/errors.sw
  .docs/contributing-book/src/code/connect_four/src/events.sw
  .docs/contributing-book/src/code/connect_four/src/interface.sw
  .docs/contributing-book/src/code/connect_four/src/main.sw
  .docs/contributing-book/src/code/connect_four/src/utils.sw
  .docs/contributing-book/src/code/style_guide/Forc.toml
  .docs/contributing-book/src/code/style_guide/src/lib.sw
  .docs/contributing-book/src/documentation/issues/create-issue.md
  .docs/contributing-book/src/documentation/issues/index.md
  .docs/contributing-book/src/documentation/issues/search/assignment.md
  .docs/contributing-book/src/documentation/issues/search/filtering.md
  .docs/contributing-book/src/documentation/issues/search/index.md
  .docs/contributing-book/src/documentation/issues/search/summary.md
  .docs/contributing-book/src/documentation/library-quality/code-structure.md
  .docs/contributing-book/src/documentation/library-quality/documentation/code/abi.md
  .docs/contributing-book/src/documentation/library-quality/documentation/code/comments.md
  .docs/contributing-book/src/documentation/library-quality/documentation/code/index.md
  .docs/contributing-book/src/documentation/library-quality/documentation/code/naming-components.md
  .docs/contributing-book/src/documentation/library-quality/documentation/code/style.md
  .docs/contributing-book/src/documentation/library-quality/documentation/index.md
  .docs/contributing-book/src/documentation/library-quality/documentation/read-me.md
  .docs/contributing-book/src/documentation/library-quality/documentation/specification.md
  .docs/contributing-book/src/documentation/library-quality/index.md
  .docs/contributing-book/src/documentation/library-quality/library-structure.md
  .docs/contributing-book/src/documentation/library-quality/testing.md
  .docs/contributing-book/src/documentation/pull-requests/commit.md
  .docs/contributing-book/src/documentation/pull-requests/creating-pr.md
  .docs/contributing-book/src/documentation/pull-requests/index.md
  .docs/contributing-book/src/documentation/welcome.md
  .docs/contributing-book/src/images/app-documentation.png
  .docs/contributing-book/src/images/app-filter-assignee.png
  .docs/contributing-book/src/images/app-filter-comments.png
  .docs/contributing-book/src/images/app-filter.png
  .docs/contributing-book/src/images/filter-dropdown.png
  .docs/contributing-book/src/images/issue-templates.png
  .docs/contributing-book/theme/highlight.js
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
  README.md
Labels: Documentation, New Feature

#77 Add Simon as code owner
  .github/CODEOWNERS
Labels: Enhancement, Repo Misc

#58 Storagemapvec
  README.md
  sway_libs/src/lib.sw
  sway_libs/src/storagemapvec/README.md
  sway_libs/src/storagemapvec/SPECIFICATION.md
  sway_libs/src/storagemapvec/storagemapvec.sw
  tests/Forc.toml
  tests/src/harness.rs
  tests/src/storagemapvec/.gitignore
  tests/src/storagemapvec/Forc.toml
  tests/src/storagemapvec/mod.rs
  tests/src/storagemapvec/src/main.sw
  tests/src/storagemapvec/tests/clear.rs
  tests/src/storagemapvec/tests/get.rs
  tests/src/storagemapvec/tests/insert.rs
  tests/src/storagemapvec/tests/is_empty.rs
  tests/src/storagemapvec/tests/len.rs
  tests/src/storagemapvec/tests/mod.rs
  tests/src/storagemapvec/tests/pop.rs
  tests/src/storagemapvec/tests/push.rs
  tests/src/storagemapvec/tests/remove.rs
  tests/src/storagemapvec/tests/swap.rs
  tests/src/storagemapvec/tests/swap_remove.rs
  tests/src/storagemapvec/tests/to_vec.rs
  tests/src/storagemapvec/tests/utils.rs
Labels: New Feature, Lib: Storage

#76 Contract Owner Library
  README.md
  sway_libs/src/lib.sw
  sway_libs/src/ownership/README.md
  sway_libs/src/ownership/SPECIFICATION.md
  sway_libs/src/ownership/data_structures.sw
  sway_libs/src/ownership/errors.sw
  sway_libs/src/ownership/events.sw
  sway_libs/src/ownership/ownable.sw
  sway_libs/src/ownership/ownable_storage.sw
  tests/Forc.toml
  tests/src/harness.rs
  tests/src/ownership/.gitignore
  tests/src/ownership/Forc.toml
  tests/src/ownership/mod.rs
  tests/src/ownership/src/main.sw
  tests/src/ownership/tests/functions/mod.rs
  tests/src/ownership/tests/functions/only_owner.rs
  tests/src/ownership/tests/functions/owner.rs
  tests/src/ownership/tests/functions/renounce_ownership.rs
  tests/src/ownership/tests/functions/set_ownership.rs
  tests/src/ownership/tests/functions/transfer_ownership.rs
  tests/src/ownership/tests/mod.rs
  tests/src/ownership/tests/utils/mod.rs
Labels: New Feature, Lib: Ownership

#81 Update Merkle Proof Library to use Bytes type
  libs/merkle_proof/README.md
  libs/merkle_proof/src/binary_merkle_proof.sw
  tests/src/merkle_proof/tests/functions/leaf_digest.rs
  tests/src/merkle_proof/tests/functions/node_digest.rs
  tests/src/merkle_proof/tests/functions/process_proof.rs
  tests/src/merkle_proof/tests/functions/verify_proof.rs
  tests/src/merkle_proof/tests/utils/mod.rs
Labels: Improvement, Lib: Cryptography

#88 Update String library to use `Bytes` type
  libs/string/SPECIFICATION.md
  libs/string/src/lib.sw
  tests/src/string/src/main.sw
  tests/src/string/tests/functions/as_vec.rs
  tests/src/string/tests/functions/from.rs
  tests/src/string/tests/functions/into.rs
  tests/src/string/tests/functions/join.rs
  tests/src/string/tests/functions/mod.rs
  tests/src/string/tests/functions/set.rs
  tests/src/string/tests/functions/split.rs
  tests/src/string/tests/functions/swap.rs
  tests/src/string/tests/utils/mod.rs
Labels: Enhancement, Improvement, Lib: Strings
