Repository FuelLabs/sway-libs, pull requests merged in 2024-08, with the labels that each got.

#273 Fix `neg_from()` in favor of `neg_try_from()` for Signed Integers
  CHANGELOG.md
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i128_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i16_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i256_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i32_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i64_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i8/src/main.sw
  tests/src/signed_integers/signed_i8_wrapping_neg/src/main.sw
Labels: Bug, Lib: Math, Breaking

#274 Fix buffer overflow in swap_configurables
  CHANGELOG.md
  libs/src/bytecode/utils.sw
  tests/src/bytecode/tests/functions/swap_configurables.rs
Labels: Bug, Bytecode Solver

#275 Handle case when bytecode is empty
  CHANGELOG.md
  libs/src/bytecode.sw
  libs/src/bytecode/utils.sw
  tests/src/bytecode/tests/functions/compute_bytecode_root.rs
  tests/src/bytecode/tests/functions/compute_bytecode_root_with_configurables.rs
  tests/src/bytecode/tests/functions/compute_predicate_address.rs
  tests/src/bytecode/tests/functions/compute_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode_with_configurables.rs
  tests/src/bytecode/tests/functions/verify_predicate_address.rs
  tests/src/bytecode/tests/functions/verify_predicate_address_with_configurables.rs
Labels: Bug, Bytecode Solver

#276 Prepare for v0.23.0 release
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/book/src/getting_started/index.md
Labels: Repo Misc

#281 Bump to sway-standards v0.5.2 and v0.23.1 release
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/book/src/getting_started/index.md
  examples/Forc.lock
  examples/admin/Forc.toml
  examples/asset/base_docs/Forc.toml
  examples/asset/basic_src20/Forc.toml
  examples/asset/basic_src3/Forc.toml
  examples/asset/basic_src7/Forc.toml
  examples/asset/metadata_docs/Forc.toml
  examples/asset/setting_src20_attributes/Forc.toml
  examples/asset/setting_src7_attributes/Forc.toml
  examples/asset/supply_docs/Forc.toml
  examples/ownership/Forc.toml
  examples/upgradability/Forc.toml
  libs/Forc.lock
  libs/Forc.toml
  tests/Forc.lock
  tests/src/admin/Forc.toml
  tests/src/native_asset/Forc.toml
  tests/src/ownership/Forc.toml
  tests/src/upgradability/Forc.toml
Labels: Repo Misc

#271 chore: fix some comments
  docs/contributing-book/src/code_docs/naming-components.md
  docs/contributing-book/src/pull-requests/creating-pr.md
  docs/contributing-book/src/pull-requests/index.md
  libs/src/reentrancy.sw
  libs/src/signed_integers/errors.sw
Labels: Documentation

#285 Remove `_with_configurables` functions from Bytecode Library and use `Option` instead
  CHANGELOG.md
  docs/book/src/bytecode/index.md
  examples/bytecode/src/main.sw
  libs/src/bytecode.sw
  tests/src/bytecode/test_contract/src/main.sw
  tests/src/bytecode/tests/functions/compute_bytecode_root.rs
  tests/src/bytecode/tests/functions/compute_bytecode_root_with_configurables.rs
  tests/src/bytecode/tests/functions/compute_predicate_address.rs
  tests/src/bytecode/tests/functions/compute_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/functions/mod.rs
  tests/src/bytecode/tests/functions/swap_configurables.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode_with_configurables.rs
  tests/src/bytecode/tests/functions/verify_predicate_address.rs
  tests/src/bytecode/tests/functions/verify_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/utils/mod.rs
Labels: Improvement, Breaking, Bytecode Solver

#286 Update to Sway-Standards v0.6.0
  CHANGELOG.md
  docs/book/src/asset/base.md
  docs/book/src/asset/metadata.md
  docs/book/src/asset/supply.md
  examples/Forc.lock
  examples/admin/Forc.toml
  examples/asset/base_docs/Forc.toml
  examples/asset/basic_src20/Forc.toml
  examples/asset/basic_src3/Forc.toml
  examples/asset/basic_src3/src/main.sw
  examples/asset/basic_src7/Forc.toml
  examples/asset/metadata_docs/Forc.toml
  examples/asset/metadata_docs/src/main.sw
  examples/asset/setting_src20_attributes/Forc.toml
  examples/asset/setting_src20_attributes/src/main.sw
  examples/asset/setting_src7_attributes/Forc.toml
  examples/asset/setting_src7_attributes/src/main.sw
  examples/asset/supply_docs/Forc.toml
  examples/asset/supply_docs/src/main.sw
  examples/ownership/Forc.toml
  examples/upgradability/Forc.toml
  libs/Forc.lock
  libs/Forc.toml
  libs/src/asset/base.sw
  libs/src/asset/errors.sw
  libs/src/asset/metadata.sw
  libs/src/asset/supply.sw
  tests/Forc.lock
  tests/src/admin/Forc.toml
  tests/src/native_asset/Forc.toml
  tests/src/native_asset/src/main.sw
  tests/src/native_asset/tests/functions/burn.rs
  tests/src/native_asset/tests/functions/decimals.rs
  tests/src/native_asset/tests/functions/metadata.rs
  tests/src/native_asset/tests/functions/mint.rs
  tests/src/native_asset/tests/functions/name.rs
  tests/src/native_asset/tests/functions/set_decimals.rs
  tests/src/native_asset/tests/functions/set_metadata.rs
  tests/src/native_asset/tests/functions/set_name.rs
  tests/src/native_asset/tests/functions/set_symbol.rs
  tests/src/native_asset/tests/functions/symbol.rs
  tests/src/native_asset/tests/functions/total_assets.rs
  tests/src/native_asset/tests/functions/total_supply.rs
  tests/src/native_asset/tests/utils/interface.rs
  tests/src/ownership/Forc.toml
  tests/src/upgradability/Forc.toml
Labels: Improvement, Breaking

#289 Update to forc 0.63.3 and fuel-rs 0.66.2
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  CHANGELOG.md
  README.md
  docs/book/src/getting_started/index.md
  docs/book/src/getting_started/running_tests.md
  examples/Cargo.toml
  examples/Forc.lock
  examples/merkle/mod.rs
  libs/Forc.lock
  tests/Cargo.toml
  tests/Forc.lock
  tests/src/admin/tests/utils/mod.rs
  tests/src/bytecode/tests/utils/mod.rs
  tests/src/native_asset/tests/utils/interface.rs
  tests/src/ownership/tests/functions/owner.rs
  tests/src/ownership/tests/functions/renounce_ownership.rs
  tests/src/ownership/tests/functions/set_ownership.rs
  tests/src/ownership/tests/functions/transfer_ownership.rs
  tests/src/ownership/tests/utils/mod.rs
  tests/src/upgradability/src/main.sw
  tests/src/upgradability/tests/utils/mod.rs
Labels: Repo Misc

#290 Upgradeability: use specific storage slot for owner functionality
  CHANGELOG.md
  examples/upgradability/src/main.sw
  libs/src/upgradability.sw
  tests/src/upgradability/src/main.sw
Labels: Improvement, Breaking, Lib: Upgradability

#293 Revert remove _with_configurables functions from Bytecode Library and use Option instead
  CHANGELOG.md
  docs/book/src/bytecode/index.md
  examples/bytecode/src/main.sw
  libs/src/bytecode.sw
  tests/src/bytecode/test_contract/src/main.sw
  tests/src/bytecode/tests/functions/compute_bytecode_root.rs
  tests/src/bytecode/tests/functions/compute_bytecode_root_with_configurables.rs
  tests/src/bytecode/tests/functions/compute_predicate_address.rs
  tests/src/bytecode/tests/functions/compute_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/functions/mod.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode_with_configurables.rs
  tests/src/bytecode/tests/functions/verify_predicate_address.rs
  tests/src/bytecode/tests/functions/verify_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/utils/mod.rs
Labels: Bytecode Solver

#294 Revert breaking changes to asset library
  CHANGELOG.md
  examples/asset/basic_src3/src/main.sw
  examples/asset/metadata_docs/src/main.sw
  examples/asset/setting_src20_attributes/src/main.sw
  examples/asset/setting_src7_attributes/src/main.sw
  libs/src/asset/base.sw
  libs/src/asset/metadata.sw
  libs/src/asset/supply.sw
  tests/src/native_asset/src/main.sw
  tests/src/native_asset/tests/functions/set_metadata.rs
  tests/src/native_asset/tests/functions/set_name.rs
  tests/src/native_asset/tests/functions/set_symbol.rs
  tests/src/native_asset/tests/utils/interface.rs
Labels: Lib: Asset
