Repository FuelLabs/sway-libs, pull requests merged in 2024-07, with the labels that each got.

#262 Fix ordering functions for IFP
  CHANGELOG.md
  libs/src/fixed_point/ifp128.sw
  libs/src/fixed_point/ifp256.sw
  libs/src/fixed_point/ifp64.sw
  tests/src/fixed_point/ifp128_test/src/main.sw
  tests/src/fixed_point/ifp256_test/src/main.sw
  tests/src/fixed_point/ifp64_test/src/main.sw
Labels: Bug, Lib: Math

#265 Adds the `SetMetadataEvent`
  CHANGELOG.md
  libs/src/asset/metadata.sw
  tests/src/native_asset/tests/functions/metadata.rs
  tests/src/native_asset/tests/functions/set_metadata.rs
Labels: New Feature, Lib: Asset

#269 Hash StorageKey slot for Admin library
  CHANGELOG.md
  libs/src/admin.sw
Labels: Improvement, Lib: Security

#270 Add `OrdEq` impl to Signed Integers
  CHANGELOG.md
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i8/src/main.sw
Labels: New Feature, Lib: Math

#268 Fix Signed Integers Subtraction
  CHANGELOG.md
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i8/src/main.sw
Labels: Bug, Lib: Math

#272 Fix `From` implementation for Signed Integers
  CHANGELOG.md
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i128_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i16_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i256_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i32_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i64_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i8/src/main.sw
  tests/src/signed_integers/signed_i8_wrapping_neg/src/main.sw
Labels: Bug, New Feature, Lib: Math, Breaking
