Repository FuelLabs/sway-libs, pull requests merged in 2025-03, with the labels that each got.

#312 Implement TotalOrd for signed integers
  CHANGELOG.md
  examples/signed_integers/src/main.sw
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i128_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i16_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i256_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i32_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i64_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i8/src/main.sw
  tests/src/signed_integers/signed_i8_wrapping_neg/src/main.sw
Labels: Enhancement, Lib: Math, Breaking

#329 Introduce Sparse Merkle Tree Library
  CHANGELOG.md
  README.md
  docs/book/spell-check-custom-words.txt
  docs/book/src/index.md
  docs/book/src/merkle/index.md
  examples/Forc.lock
  examples/Forc.toml
  examples/harness.rs
  examples/merkle_binary/Forc.toml
  examples/merkle_binary/mod.rs
  examples/merkle_binary/src/main.sw
  examples/merkle_sparse/Forc.toml
  examples/merkle_sparse/mod.rs
  examples/merkle_sparse/src/main.sw
  libs/src/merkle.sw
  libs/src/merkle/binary.sw
  libs/src/merkle/common.sw
  libs/src/merkle/sparse.sw
  libs/src/merkle/utils.sw
  tests/src/merkle_proof/src/main.sw
  tests/src/merkle_proof/tests/functions/binary_leaf_digest.rs
  tests/src/merkle_proof/tests/functions/binary_process_proof.rs
  tests/src/merkle_proof/tests/functions/binary_verify_proof.rs
  tests/src/merkle_proof/tests/functions/mod.rs
  tests/src/merkle_proof/tests/functions/sparse_leaf_digest.rs
  tests/src/merkle_proof/tests/functions/sparse_root.rs
  tests/src/merkle_proof/tests/functions/sparse_verify.rs
  tests/src/merkle_proof/tests/utils/mod.rs
Labels: New Feature, Lib: Cryptography, Breaking

#330 Remove `_with_configurables` functions from `Bytecode` Library and use `Option`
  CHANGELOG.md
  docs/book/src/bytecode/index.md
  examples/bytecode/src/main.sw
  libs/src/bytecode.sw
  tests/src/bytecode/test_contract/src/main.sw
  tests/src/bytecode/tests/functions/compute_bytecode_root.rs
  tests/src/bytecode/tests/functions/compute_bytecode_root_with_configurables.rs
  tests/src/bytecode/tests/functions/compute_predicate_address.rs
  tests/src/bytecode/tests/functions/compute_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/functions/mod.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode.rs
  tests/src/bytecode/tests/functions/verify_contract_bytecode_with_configurables.rs
  tests/src/bytecode/tests/functions/verify_predicate_address.rs
  tests/src/bytecode/tests/functions/verify_predicate_address_with_configurables.rs
  tests/src/bytecode/tests/utils/mod.rs
Labels: Improvement, Breaking, Bytecode Solver

#333 Add `BigInt` inline tests for unsafe math and overflow
  CHANGELOG.md
  tests/src/bigint/src/main.sw
Labels: Lib: Math

#334 Update to forc `v0.67.0` and prepare `v0.25.0` release
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/book/src/getting_started/index.md
  examples/Forc.lock
  examples/admin/Forc.toml
  examples/asset/base_docs/Forc.toml
  examples/asset/basic_src20/Forc.toml
  examples/asset/basic_src3/Forc.toml
  examples/asset/basic_src7/Forc.toml
  examples/asset/metadata_docs/Forc.toml
  examples/asset/setting_src20_attributes/Forc.toml
  examples/asset/setting_src7_attributes/Forc.toml
  examples/asset/supply_docs/Forc.toml
  examples/ownership/Forc.toml
  examples/upgradability/Forc.toml
  libs/Forc.lock
  libs/Forc.toml
  libs/src/bigint.sw
  libs/src/merkle/sparse.sw
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/Forc.lock
  tests/src/admin/Forc.toml
  tests/src/bigint/src/main.sw
  tests/src/bytecode/tests/utils/mod.rs
  tests/src/native_asset/Forc.toml
  tests/src/ownership/Forc.toml
  tests/src/reentrancy/reentrancy_proxy_abi/Forc.toml
  tests/src/reentrancy/reentrancy_proxy_contract/Forc.toml
  tests/src/upgradability/Forc.toml
Labels: Repo Misc, Release

#332 Add inline tests for signed integers
  CHANGELOG.md
  libs/src/signed_integers/i128.sw
  libs/src/signed_integers/i16.sw
  libs/src/signed_integers/i256.sw
  libs/src/signed_integers/i32.sw
  libs/src/signed_integers/i64.sw
  libs/src/signed_integers/i8.sw
  tests/Forc.lock
  tests/Forc.toml
  tests/src/harness.rs
  tests/src/signed_integers/mod.rs
  tests/src/signed_integers/signed_i128/mod.rs
  tests/src/signed_integers/signed_i128/src/main.sw
  tests/src/signed_integers/signed_i128/tests/mod.rs
  tests/src/signed_integers/signed_i128_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i128_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i128_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i128_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i128_wrapping_neg/tests/mod.rs
  tests/src/signed_integers/signed_i16/mod.rs
  tests/src/signed_integers/signed_i16/src/main.sw
  tests/src/signed_integers/signed_i16/tests/mod.rs
  tests/src/signed_integers/signed_i16_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i16_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i16_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i16_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i16_wrapping_neg/tests/mod.rs
  tests/src/signed_integers/signed_i256/mod.rs
  tests/src/signed_integers/signed_i256/src/main.sw
  tests/src/signed_integers/signed_i256/tests/mod.rs
  tests/src/signed_integers/signed_i256_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i256_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i256_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i256_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i256_wrapping_neg/tests/mod.rs
  tests/src/signed_integers/signed_i32/mod.rs
  tests/src/signed_integers/signed_i32/src/main.sw
  tests/src/signed_integers/signed_i32/tests/mod.rs
  tests/src/signed_integers/signed_i32_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i32_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i32_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i32_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i32_wrapping_neg/tests/mod.rs
  tests/src/signed_integers/signed_i64/mod.rs
  tests/src/signed_integers/signed_i64/src/main.sw
  tests/src/signed_integers/signed_i64/tests/mod.rs
  tests/src/signed_integers/signed_i64_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i64_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i64_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i64_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i64_wrapping_neg/tests/mod.rs
  tests/src/signed_integers/signed_i8/mod.rs
  tests/src/signed_integers/signed_i8/src/main.sw
  tests/src/signed_integers/signed_i8/tests/mod.rs
  tests/src/signed_integers/signed_i8_wrapping_neg/.gitignore
  tests/src/signed_integers/signed_i8_wrapping_neg/Forc.toml
  tests/src/signed_integers/signed_i8_wrapping_neg/mod.rs
  tests/src/signed_integers/signed_i8_wrapping_neg/src/main.sw
  tests/src/signed_integers/signed_i8_wrapping_neg/tests/mod.rs
Labels: Lib: Math
